{% extends "layout.html" %}
{% block title %} Home {% endblock %}

{% block opengraph %}
<meta property="og:url" content="http://www.289thepeak.com/archive"/>
<meta property="og:title" content="28.9 The Peak - Archive"/>
<meta property="og:description" content="each batch of uploads is archived in the order it was recovered"/>
<meta property="og:image" content="http://www.289thepeak.com/static/images/thepeak-og.png"/>
<meta property="og:type" content="website"/>           
{% endblock %}

{% block head %} 
{{ super() }}
{% endblock %}

{% block header %} 
{{ super() }}
{% endblock %}

{% block content %}

        <div class="content-container">
            
            <div class="text-container">
            <h1 class="h1-blue">Archive</h1>
            <h2 class="h2-blue">each batch of uploads is archived in the order it was recovered</h2>
            </div>

            <div class="small-spacer"></div>

            <div class="content-box">

                <div></div>
                <h2 class="link"><a href="/archive/batch-0001">Batch 0001</a></h2>
                <div></div>
               
            </div>
        
        </div>

        <div class="small-spacer"></div>
        <div class="small-spacer"></div>
        <div class="small-spacer"></div>
        <div class="small-spacer"></div>
        <div class="small-spacer"></div>
        <div class="small-spacer"></div>
        <div class="small-spacer"></div>
        <div class="small-spacer"></div>

{% endblock %}

{% block footer %} 
{{ super() }}
{% endblock %}