{% extends "layout.html" %}
{% block title %} Home {% endblock %}

{% block opengraph %}
<meta property="og:url" content="http://www.289thepeak.com/archive/batch-0001"/>
<meta property="og:title" content="Batch 0001"/>
<meta property="og:description" content="the first batch of uploads"/>
<meta property="og:image" content="http://www.289thepeak.com/static/images/thepeak-og.png"/>
<meta property="og:type" content="website"/>           
{% endblock %}

{% block head %} 
{{ super() }}
{% endblock %}

{% block header %} 
{{ super() }}
{% endblock %}

{% block content %}

        <div class="content-container">
            
            <div class="text-container">
            <h1 class="h1-blue">Batch 0001</h1>
            </div>

            <div class="content-box">
                <div></div>
                <div>
                <h2>TRANSMISSION: 0001</h2>
                <h2>Sign On</h2>
                </div>

                <iframe width="300" height="240" src="https://www.youtube.com/embed/arBSkZMKPWY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen> 
                </iframe>
                
                <h3 class="normal-text">This is what looks to be the first transmission from 28.9 The Peak and you can suck my fucking ass if you don't like it</h3>
            </div>

            <div class="content-box">
                <div></div>
                <div>
                <h2>TRANSMISSION: 0002</h2>
                <h2>Good Morning Luna Valley</h2>
                </div>

                <iframe width="300" height="240" src="https://www.youtube.com/embed/arBSkZMKPWY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen> 
                </iframe>
                
                <h3 class="normal-text">This is what looks to be the first transmission from 28.9 The Peak and you can suck my fucking ass if you don't like it</h3>
            </div>

            <div class="content-box">
                <h2>SONG</h2>
                
                <audio controls controlsList="nodownload">
                    <source src="{{url_for('static', filename='audio/Sounds Like This.mp3')}}" type="audio/mpeg">
                  Your browser does not support the audio element.
                  </audio>
                
                <h3 class="normal-text">This song whips ass. fuck you if you don't like it</h3>
            </div>

            <div class="content-box">
                <div></div>
                <div>
                <h2 class="link"><a href="/archive">Back To Archive</a></h2>
                </div>
                <div></div>
        </div>
        
        </div>

        

        <div class="small-spacer"></div>
        <div class="small-spacer"></div>

{% endblock %}

{% block footer %} 
{{ super() }}
{% endblock %}