{% extends "layout.html" %}
{% block title %} Home {% endblock %}
{% block head %} 
{{ super() }}
{% endblock %}

{% block header %} 
{{ super() }}
{% endblock %}

{% block content %}

        <div class="content-container">
            
            <div class="text-container">
            <h1 class="h1-blue">28.9 The Peak</h1>
            <h2 class="h2-blue">Archival Restoration Project</h2>
            </div>

            <div class="text-container">
             <h3 class="h3-blue">Archiving the remnants of a channel that never existed</h3>   
            </div>

            <div class="update-banner">
                <h3> NEW UPDATES: </h3>
            </div>

            <div class="content-box">
                <div></div>
                <div>
                <h2>TRANSMISSION: 0001</h2>
                <h2>Sign On</h2>
                </div>

                <iframe width="300" height="240" src="https://www.youtube.com/embed/arBSkZMKPWY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen> 
                </iframe>
                
                <h3 class="normal-text">This is what looks to be the first transmission from 28.9 The Peak and you can suck my fucking ass if you don't like it</h3>
            </div>

            <div class="content-box">
                <div></div>
                <div>
                <h2>TRANSMISSION: 0002</h2>
                <h2>Good Morning Luna Valley</h2>
                </div>

                <iframe width="300" height="240" src="https://www.youtube.com/embed/arBSkZMKPWY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen> 
                </iframe>
                
                <h3 class="normal-text">This is what looks to be the first transmission from 28.9 The Peak and you can suck my fucking ass if you don't like it</h3>
            </div>

            <div class="content-box">
                <h2>SONG</h2>
                
                <audio controls controlsList="nodownload">
                    <source src="{{url_for('static', filename='audio/Sounds Like This.mp3')}}" type="audio/mpeg">
                  Your browser does not support the audio element.
                  </audio>
                
                <h3 class="normal-text">This song whips ass. fuck you if you don't like it</h3>
            </div>
        
        </div>

        <div class="small-spacer"></div>
        <div class="small-spacer"></div>

{% endblock %}

{% block footer %} 
{{ super() }}
{% endblock %}