{% extends "layout.html" %}
{% block title %} Home {% endblock %}

{% block opengraph %}
<meta property="og:url" content="http://www.289thepeak.com/thank-you"/>
<meta property="og:title" content="Thank You"/>
<meta property="og:description" content="Special thank you to our sponsors who help keep this project alive"/>
<meta property="og:image" content="http://www.289thepeak.com/static/images/thepeak-og.png"/>
<meta property="og:type" content="website"/>           
{% endblock %}

{% block head %} 
{{ super() }}
{% endblock %}

{% block header %} 
{{ super() }}
{% endblock %}

{% block content %}

        <div class="small-spacer"></div>
        <div class="content-container">
            
            <div class="text-container">
            <h2 class="h2-blue">Special thank you to our sponsors who help keep this project alive</h2>
            </div>

            <div class="content-box">
                <div></div>
                <h3 class="normal-text">Jack Mioff</h3>
                <div></div>
            </div>
        </div>

        <div class="small-spacer"></div>
        <div class="small-spacer"></div>
        <div class="small-spacer"></div>
        <div class="small-spacer"></div>
        <div class="small-spacer"></div>
        <div class="small-spacer"></div>
        

{% endblock %}

{% block footer %} 
{{ super() }}
{% endblock %}